<div class="col-xs-10 col-xs-offset-1 about">
  <h1> About Splurty </h1>


  <br/>
  <br/>

  <p class="text-justify">
  Splurty was built by <a target="_blank" href="http://smithsaintil.com.s3-website-us-east-1.amazonaws.com">Smith Saintil</a> to inspire everyone's entrepreneural spirit. When we find ourselves at a crossroad in life, rather than defaulting to what's familiar, we need to ask ourselves "why not?" and take a step of faith. This Splurty web application is my "why not?" and through it, I want to encourage other people and provide a platform where they can inspire others as well.
  </p>
  <br/>

  <div class="col-xs-12 col-sm-4 co">
  <%= image_tag 'smith_tnu.jpg', class: 'img-responsive', class: 'photo' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Smith Saintil</h2>
    
    <br/>

    <p class="text-justify">
    Smith Saintil is an aspiring web developer who plans to utilize his skills to create a product and/or service that will empower other people. This passion for 
    </p>

    <br/>

  </div>

</div>

<br class="clear"/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>